<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSNabYNXCHcVqjPdYPkQxnF91JKDM9ciE</string>
	<key>GCM_SENDER_ID</key>
	<string>659192666885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.king.indianCultures.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>indian-cultures</string>
	<key>STORAGE_BUCKET</key>
	<string>indian-cultures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659192666885:ios:868a2d695cde210e51b56c</string>
</dict>
</plist>